<div class="page-header">
  <h3>Attestation #<%= @attestation.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Physician</dt>
      <dd>
        <% if @attestation.physician.present? %>
          <a href="/physicians/<%= @attestation.physician_id %>">
            <%= @attestation.physician.npi %>
          </a>
        <% end %>
      </dd>

      <dt>Ehr vendor</dt>
      <dd><%= @attestation.ehr_vendor %></dd>

      <dt>Ehr name</dt>
      <dd><%= @attestation.ehr_name %></dd>

      <dt>Certification date</dt>
      <dd><%= @attestation.certification_date %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/attestations" class="btn btn-primary">
        Back
      </a>
      <a href="/attestations/<%= @attestation.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_attestation/<%= @attestation.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
