<div class="page-header">
  <h3>Physician #<%= @physician.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Npi</dt>
      <dd><%= @physician.npi %></dd>

      <dt>First name</dt>
      <dd><%= @physician.first_name %></dd>

      <dt>Last name</dt>
      <dd><%= @physician.last_name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/physicians" class="btn btn-primary">
        Back
      </a>
      <a href="/physicians/<%= @physician.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_physician/<%= @physician.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Physician has many employments -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Employments
      </li>

      <% @physician.employments.each do |employment| %>
        <li class="list-group-item">
          <a href="/employments/<%= employment.id %>">
            <%= employment.physician_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/employments/<%= employment.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/employments/<%= employment.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_employment/<%= employment.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_employment" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for physician_id -->
      <input type="hidden" name="physician_id" value="<%= @physician.id %>">

      <!-- Label and input for practice_id -->
      <div class="form-group">
        <label for="practice_id" class="control-label">
          Practice
        </label>

        <%= select_tag(:practice_id, options_from_collection_for_select(Practice.all, :id, :pac_id), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Employment
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Physician has many attestations -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Attestations
      </li>

      <% @physician.attestations.each do |attestation| %>
        <li class="list-group-item">
          <a href="/attestations/<%= attestation.id %>">
            <%= attestation.physician_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/attestations/<%= attestation.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/attestations/<%= attestation.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_attestation/<%= attestation.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_attestation" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for physician_id -->
      <input type="hidden" name="physician_id" value="<%= @physician.id %>">

      <!-- Label and input for ehr_vendor -->
      <div class="form-group">
        <label for="ehr_vendor" class="control-label">
          Ehr vendor
        </label>

        <input type="text" id="ehr_vendor" name="ehr_vendor" placeholder="Ehr vendor" class="form-control" value="">
      </div>

      <!-- Label and input for ehr_name -->
      <div class="form-group">
        <label for="ehr_name" class="control-label">
          Ehr name
        </label>

        <input type="text" id="ehr_name" name="ehr_name" placeholder="Ehr name" class="form-control" value="">
      </div>

      <!-- Label and input for certification_date -->
      <div class="form-group">
        <label for="certification_date" class="control-label">
          Certification date
        </label>

        <input type="text" id="certification_date" name="certification_date" placeholder="Certification date" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Attestation
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
